page-modal {
    .modal-content {
        background-color: #149F8D !important;
        color: white;
    }

    ion-row {
        align-items: center;
        text-align: center;
      }
  
      ion-item {
          border-radius: 30px !important;
          padding-left: 30px !important;
          font-size: 1.2em;
          margin-bottom: 3em;
          background-color: transparent !important;
          box-shadow: none !important;
          color:#09544e;

          ion-input {
              color: #09544e;
              margin-bottom: 2em;
              font-size: 18px;
          }

          ion-label {
               color:#09544e !important;
           }
      }

    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        color:white;
      }
}