page-list {
    

    .home-content {
        background-image: url('../../assets/imgs/bg_screen.png');
        color: white;
    }

    ion-fab {
        width: 100px;
        height: auto;

        button {
            width: 75px !important;
            height: 75px !important;
            margin-bottom: 15px;

            ion-icon {
                font-size: 25px !important;
            }

        }

    }
}
