page-add-friends {
    ion-navbar {
        button {
            margin: 5px;
    
            ion-icon {
                color: white;
                font-size: 25px;
            }
        }
    }

    ion-item {
        margin: 25px 0 25px 0;
    }

    ion-row {
        button {
            
        }
    }
}